.MainSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  /* overflow-y: hidden; */
  padding: 0px 70px;
  gap: 30px;
}

#main-section {
  width: 100%;
  height: 100%;
}

.imgWrap {
  position: relative;
  max-width: 700px;
  width: 100%;
}

.homeImgWrap {
  display: flex;
  justify-content: center;

  max-width: 690px;
  max-height: 500px;
  width: 100%;
}

.homeImgWrap img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.homeSideImgWrap {
  max-width: 400px;
  max-height: 280px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 160px;
  bottom: -100px;
  width: 100%;
}

.homeSideImgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeSmallImgWrap {
  position: absolute;
  max-width: 250px;
  width: 100%;
  height: 100%;
  max-height: 180px;
  left: -120px;
  top: -100px;
}

.homeSmallImgWrap img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}



.changePhoto {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 87px;
  top: 10px;
  right: 0px;
  z-index: 100;
  overflow: hidden;
}

.changePhotoInput,
.changePhotoButton {
  background-color: rgba(171, 170, 170, 0.589);
  border: none;
  color: black;
}
input[type="file"] {
  appearance: none;
  color: transparent;
}

.changePhoto input {
  max-width: 100px;
}

.author {
  text-align: center;
}

.name {
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: rgb(72, 71, 71);
  max-width: 500px;
  width: 100%;
}

.profession {
  text-transform: uppercase;
  letter-spacing: 7px;
  color: rgb(110, 110, 110);
}

/* TABLET */

@media screen and (max-width: 1200px) {
  .MainSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    height: 600px;
    height: 100%;
    gap: 60px;
  }

  .imgWrap {
    margin-left: -100px;
    align-items: center;
  }

  .homeSideImgWrap {
    position: absolute;
    left: 200px;
  }

  .homeSmallImgWrap {
    left: 100px;
  }

  .name {
    font-size: 20px;
    font-weight: 500;
  }
}

@media screen and (max-width: 960px) {
  .MainSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0px;
    max-height: 800px;
    padding: 50px 0px;
  }

  .author {
    order: 1;
  }

  .imgWrap {
    order: 2;
    margin: 0;
  }
  .name {
    font-size: 24px;
    font-weight: 400;
  }

  .homeSideImgWrap {
    position: absolute;
    max-width: 300px;
    left: -60px;
    bottom: -160px;
  }

  .homeSmallImgWrap {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .MainSection {
    gap: 0px;
    height: 100vh;
    justify-content: center;
  }

  .homeSideImgWrap {
    max-width: 200px;
    left: 50px;
    bottom: -150px;
  }

  .name {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .MainSection {
    gap: 0px;
    height: 100vh;
    /* padding: 0px 0px 200px 0px; */
  }

  .homeSideImgWrap {
    max-width: 200px;
    left: 50px;
    bottom: -150px;
  }

  .name {
    font-size: 18px;
  }

  .MainSection {
    max-height: 100vh;
  }
}
