.container {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  /* max-width: 1600px; */
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .container {
    height: auto;
    
  }
}


/* @media screen and (max-width: 430px) {
  .container {
    padding: 40px 0px;
  }

  .container #main{
    padding: 0px 0px;
  }
} */

/* @media (min-width: 992px) and (min-height: 400px) {
  .container {
    height: auto;
    
  }
 
} */