.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  min-height: 500px;
}

.img1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
  max-width: 200px;
}

.img1 img {
  width: 100%;
}

.img2 {
  max-width: 300px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 100px;
  z-index: 101;
}

.img2 img {
  width: 100%;
  height: 100%;
}

.img3 {
  position: absolute;
  transform: rotateY(180deg);
  max-width: 300px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  right: 0px;
  bottom: 200px;
  z-index: 101;
}

.img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.changePhoto {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 87px;
  top: 10px;
  right: 10px;
  z-index: 101;
  overflow: hidden;
}

.img2 .changePhoto,
.img3 .changePhoto {
  left: 0;
}

.changePhoto input,
.changePhoto button {
  background-color: rgba(171, 170, 170, 0.589);
  border: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  text-align: justify;
  margin: 0 auto;
  height: 100%;
  z-index: 101;
}

.textWrap {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saveButton{
  margin-bottom: 10px;
  border: none;
    padding: 5px;
    background-color: rgb(189, 189, 189);
}

.title {
  font-weight: 300;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(53, 53, 53);
}

.text {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  line-height: 35px;
  font-size: 20px;
  color: rgb(66, 66, 66);
  padding: 0px 15px;
  word-wrap: break-word;
}

.tiptap-editor {
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
  background-color: white;
  color: black;
  width: 100%;
}


.menu-bar {
  margin-bottom: 10px;
}

.menu-bar button {
  margin-right: 5px;
  padding: 6px 10px;
  border: none;
  background-color: #eee;
  cursor: pointer;
}

.menu-bar button.is-active {
  background-color: #333;
  color: white;
}

.textArea {
  max-width: 500px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  min-height: 200px;
  border: none;
  padding: 10px;
  resize: none;
  box-shadow: 1px 1px 1px 1px rgba(230, 230, 230, 1);
}
.img {
  display: none;
}

@media screen and (min-width: 2000px) {
  
.img1 {
  max-width: 15vw;
}

.img1 img {
  width: 100%;
}

.img2 {
  max-width: 18vw;
  width: 100%;
  height: auto;
  
}

.img2 img {
  width: 100%;
  height: 100%;
}

.img3 {
  max-width: 18vw;
  width: 100%;
 max-height: 35vh;
 height: 100%;
  
}

.img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}


@media screen and (max-width: 1279px) {
  .container{
    margin-top: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .img2 {
    top: 0;
    right: 40px;
    max-width: 200px;
    width: 100%;
  }

  .img3 {
    max-width: 200px;
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 22px;
  }
}

@media screen and (max-width: 990px) {
  .img1 {
    display: none;
  }

  .img2 {
    display: none;
  }

  .img3 {
    display: none;
  }

  .img {
    display: block;
    max-width: 350px;
    width: 100%;
    aspect-ratio: 4/3;
  }

  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

.content{
  margin-top: 0px;
}
 
.textWrap{
  padding: 0px 10px;
}

  .text {
    font-size: 15px;
    line-height: 35px;
  }
}


@media screen and (max-width: 600px) {


  .text {
    font-size: 15px;
    line-height: 35px;
  }
}
