.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: relative;
}

.name {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #4b4a4a;
  font-weight: normal;
  font-family: serif;
  font-size: 12px;
  letter-spacing: 4px;
}

.homebutton {
  position: absolute;
  right: 15px;
  border: none;
  background-color: transparent;
  font-family: serif;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4b4a4a;
  cursor: pointer;
}

.albumWrapper {
  padding: 20px;
  max-width: 1600px;
  margin: auto;
}

.backButton {
  display: flex;
  background-color: #ddd;
  padding: 10px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #4b4a4a;
  font-weight: 500;
}

.albumName {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-family: serif;
  letter-spacing: 6px;
  margin-bottom: 40px;
}

.uploadWrap {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
  height: 34px;
  width: 34px;
  background-color: rgba(240, 248, 255, 0.303);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete:hover {
  background-color: rgba(240, 248, 255, 0.678);
}

.delete svg {
  color: #b0b0b0;
  transition: 0.3s ease;
}

.delete:hover svg {
  color: rgb(68, 68, 68);
}

.masonryGrid {
  max-width: 1600px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.column {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photoContainer {
  position: relative;
}

.image {
  width: 100%;
}

.setMainButton {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.mainPhoto {
  /* width: 1000px; */
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  margin-bottom: 20px;
  object-position: center;
}

.mainPhoto img {
  width: 100vw;
  max-height: 600px;
  object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 90vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalImage {
  max-width: 90%;
  max-height: 90%;
  user-select: none;
  cursor: grab;
  transition: transform 0.2s ease;
}

.modalImage:active {
  cursor: grabbing;
}

.prevButton,
.nextButton,
.closeButton {
  position: absolute;
  background: none;
  border: none;
  color: #767676;
  cursor: pointer;
}

.prevButton,
.nextButton {
  font-size: 14px;
}

.arrows {
  font-size: 28px;
}

.closeButton {
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: #4b4a4a;
}
.closeModal {
  width: 20px;
  height: 20px;
  font-size: 36px;
  color: #4b4a4a;
}

.prevButton {
  left: 20px;
}

.nextButton {
  right: 20px;
}

.modalImageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* .fadeOut {
  opacity: 1;
}

.fadeIn {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.hidden {
  opacity: 1;
  transform: scale(0.95);
  transition: none;
} */

.noScroll {
  overflow: hidden;
  height: 100%; /* Заборона прокручування на мобільних пристроях */
}

.desktopGrid {
  display: flex;
  gap: 16px;
}

.mobileGrid {
  display: none;
  flex-direction: column;
}

.uploadModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadModalContent {
  background: rgb(255, 255, 255);
  padding: 30px 40px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.spinner {
  margin-top: 20px;
  border: 5px solid #ddd;
  border-top: 5px solid #444;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



@media screen and (max-width: 1025px) {
  .masonryGrid {
    display: none;
    flex-direction: column;
  }
  .mobileGrid {
    display: flex;
  }

  .prevButton,
  .nextButton {
    display: none;
  }
}

/* @media screen and (max-width: 768px) {
  .masonryGrid {
    display: none;
  }

  .mobileGrid {
    display: flex;
  }
} */

/* @media screen and (max-width: 570px) {
  .masonryGrid {
    display: flex;
    flex-direction: column;
  }

  .prevButton,
  .nextButton {
    bottom: 50px;
  }
} */

@media screen and (max-width: 570px) {
  .closeButton {
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
  }

  .closeModal {
    width: 36px;
    height: 36px;
  }
}
