.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  margin: 0px 30px;
  height: 100vh;
}

.uploadWrap {
  margin-bottom: 10px;
}

input[type="file"] {
  color: rgb(74, 74, 74);
}

.inputFile {
  border: none;
  background-color: transparent;
}

.inputFile::-webkit-file-upload-button {
  background-color: rgba(128, 128, 128, 0.182);
  border: none;
  padding: 5px 10px;
}

.inputTitle {
}

.createAlbum {
}

.galleryWrap {
  display: flex;
  justify-content: center;
  position: relative;
  /* padding: 0px 30px; */
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 1050px;
}

.grid::-webkit-scrollbar {
  display: none;
}

.grid::-webkit-scrollbar-vertical {
  display: none;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  color: rgb(99, 99, 99);
  cursor: pointer;
  scroll-behavior: smooth;
}

.leftArrow {
  left: -40px;
}

.rightArrow {
  right: -40px;
}

.albumWrap {
  position: relative;
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  z-index: 1;
}

.image {
  width: 350px;
  height: 240px;
  padding: 15px;
  /* margin: 10px; */
  z-index: 1;
  position: relative;
  transition: filter 0.3s ease;
  object-fit: cover;
}

.image img {
  position: absolute;
  width: 100%;
}

.image::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затемнення через прозорість */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.image:hover {
  filter: brightness(40%); /* Затемнює картинку */
}

.deleteAlbum {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  background-color: rgba(240, 248, 255, 0.303);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.deleteAlbum:hover {
  background-color: rgba(240, 248, 255, 0.678);
}

.deleteAlbum svg {
  color: #b0b0b0;
  transition: 0.3s ease;
}

.deleteAlbum:hover svg {
  color: rgb(68, 68, 68);
}

.deleteAlbumIcon {
  font-size: 22px;
  display: flex;
  z-index: 12;
}

.title {
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  text-transform: uppercase;
}

@media screen and (max-width: 1500px) {
  .galleryWrap {
    max-width: 1050px;
    width: 100%;
  }
}

@media screen and (max-width: 1350px) {
  .wrapper {
    margin-top: 20px;
  }
  .grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* Два рядки по 150px */
    grid-template-columns: auto; /* Додає нові стовпці праворуч */

    overflow-x: auto; /* Дозволяє скролінг по горизонталі */
    white-space: nowrap;
    max-width: 90vw;
  }

  /* .albumWrap {
    max-width: 30vw;
    width: 100%;
  } */

  /* .image {
    width: 30vw;
  } */
}

@media screen and (max-width: 1280px) {
  .wrapper {
    height: auto;
  }
}

@media screen and (max-width: 1160px) {
  .leftArrow {
    left: -50px;
  }

  .rightArrow {
    right: -50px;
  }

  .grid::-webkit-scrollbar {
    display: none;
  }
  .grid::-webkit-scrollbar-thumb {
    display: none;
  }

  .grid::-webkit-scrollbar-vertical {
    display: none;
  }

  .wrapper {
    margin: 20px 60px;
  }

  .grid {
    max-width: 100vw;
    height: 400px;
  }

  .albumWrap {
    max-width: 29vw;
    width: 100%;
    height: 200px;
  }

  .image {
    max-width: 29vw;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    max-width: 100vw;
    height: 340px;
  }

  .albumWrap {
    max-width: 29vw;
    width: 100%;
    height: 170px;
  }

  .image {
    max-width: 29vw;
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .grid {
    max-width: 100vw;
    height: 280px;
  }

  .albumWrap {
    max-width: 29vw;
    width: 100%;
    height: 140px;
  }

  .image {
    padding: 10px;
    max-width: 29vw;
    height: 140px;
  }
}




@media screen and (max-width: 600px) {

  .wrapper{
    margin: 20px 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    width: 90vw;
    height: auto;
    gap: 5px;
  }

  .albumWrap {
    max-width: 100%;
    width: 100%;
  }

  .image {
    max-width: 100%;
    height: 150px;
  }

}


@media screen and (max-width: 550px) {
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    width: 100vw;
    height: auto;
    gap: 5px;
  }

  .albumWrap {
    max-width: 100%;
    width: 100%;
  }

  .image {
    max-width: 100%;
    height: 130px;
  }
}
