.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(237, 237, 237, 0.349) 30%,
    rgba(255, 255, 255, 0.585) 50%,
    rgba(255, 255, 255, 0.649) 60%,
    rgba(244, 244, 244, 0.766) 80%,
    rgb(237, 237, 237) 90%,
    rgb(237, 237, 237) 100%
  );
  padding: 10px;
  z-index: 102;
}

.footer p {
  display: block;
  color: rgb(72, 71, 71);
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 30px;

  padding: 3px;
}

.socialIcon {
  font-size: 18px;
  transition: 0.3s ease;
}

.socialIcon:hover {
  color: rgb(110, 110, 110);
}

@media screen and (max-width: 600px) {
  .footer {
    position: relative;
  }
  .footer p {
    color: rgb(72, 71, 71);
    font-weight: 400;
    font-size: 12px;
  }
}



@media screen and (max-width: 450px) {
  .footer {
    padding: 0px;
  }
  .footer p {
    color: rgb(72, 71, 71);
    font-weight: 400;
    font-size: 12px;
  }
}
