.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  margin-top: -80px;
}

.img1 {
  max-width: 450px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 100px;
  z-index: 101;
}

.img1 img {
  width: 100%;
  height: 100%;
}

.changePhotoLeft {
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 87px;
  top: 10px;
  z-index: 100;
  overflow: hidden;
}
.changePhotoLeft input,
.changePhotoLeft button {
  background-color: rgba(171, 170, 170, 0.589);
  border: none;
}

.changePhoto input,
.changePhoto button {
  background-color: rgba(171, 170, 170, 0.589);
  border: none;
}

.changePhoto {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 87px;
  top: 10px;
  left: 0px;
  z-index: 102;
  overflow: hidden;
}

.img2 {
  max-width: 250px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  position: absolute;
  right: 70px;
  top: 100px;
  z-index: 101;
}

.img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img3 {
  position: absolute;
  max-width: 400px;
  width: 100%;
  max-height: 280px;
  height: 100%;
  right: 140px;
  bottom: 70px;
  z-index: 101;
}



.img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
  max-width: 650px;
  width: 100%;
  height: 100%;
  color: rgb(83, 83, 83);
  z-index: 102;
}

.textArea {
  max-width: 500px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  min-height: 200px;
  border: none;
  padding: 10px;
  resize: none;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(230, 230, 230, 1);
  -moz-box-shadow: 1px 1px 1px 1px rgba(230, 230, 230, 1);
  box-shadow: 1px 1px 1px 1px rgba(230, 230, 230, 1);
}

.input {
  border: none;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(230, 230, 230, 1);
  -moz-box-shadow: 1px 1px 1px 1px rgba(230, 230, 230, 1);
  box-shadow: 1px 1px 1px 1px rgba(230, 230, 230, 1);
}

.text {
  font-family: serif;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  padding: 0px 15px;
}

.tel {
  font-size: 29px;
  letter-spacing: 5px;
  text-decoration: none;
  transition: 0.3s ease;
}

.tel:hover {
  color: rgb(123, 123, 123);
}

.telNAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.address {
  font-family: serif;
  font-size: 20px;
  color: rgb(83, 83, 83);
}

.email {
  font-size: 16px;
  padding-bottom: 8px;
  text-decoration: none;
  border-bottom: 2px solid black;
  transition: 0.3s ease;
}

.social {
  font-size: 26px;
}

.social:hover {
  color: rgb(123, 123, 123);
}

.email:hover {
  color: rgb(123, 123, 123);
  border-bottom: 2px solid rgb(123, 123, 123);
}

.button {
  border: none;
  padding: 5px;
  background-color: rgb(189, 189, 189);
}

@media screen and (max-width: 2000px) {
  .img1 {
    max-width: 500px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    
  }

  .img2 {
    max-width: 350px;
    width: 100%;
    max-height: 200px;
    height: 100%;

  }
  
  .img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img3 {
    max-width: 500px;
    width: 100%;
    max-height: 280px;
    height: 100%;
    
  }
}

@media screen and (max-width: 1279px) {
  .wrap {
    margin-top: -50px;
    margin-bottom: 50px;
  }
  .img1,
  .img2,
  .img3 {
    display: none;
  }
}

@media screen and (max-width: 990px) {

  .wrap {
    height: 100%;
    margin-top: -50px;
    margin-bottom: 200px;
  }
  .content {
    padding: 0px 10px;
    gap: 20px;
  }
  .text {
    font-size: 15px;
    line-height: 30px;
  }

  .telNAddress {
    gap: 35px;
  }
  .tel {
    font-size: 22px;
  }

  .address {
    font-size: 18px;
    line-height: 30px;
  }
}
