.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

.img1 {
  position: absolute;
  left: -230px;
  bottom: 100px;
}

.img2 {
  max-width: 12vw;
  width: 100%;
  height: auto;
  position: absolute;
  right: -100px;
  top: 200px;
}

.img2 img {
  width: 100%;
}

.img3 {
  position: absolute;
  max-width: 400px;
  width: 100%;
  right: 50px;
  bottom: 70px;
  opacity: 0.5;
}

.img3 img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 650px;
  height: 100%;
  color: rgb(83, 83, 83);
  z-index: 100;
}

.text {
  font-family: serif;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.tel {
  font-size: 29px;
  letter-spacing: 5px;
  text-decoration: none;
  transition: 0.3s ease;
}

.tel:hover {
  color: rgb(123, 123, 123);
}

.telNAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.address {
  font-family: serif;
  font-size: 20px;
  color: rgb(83, 83, 83);
}

.email {
  font-size: 20px;
  padding-bottom: 8px;
  text-decoration: none;
  border-bottom: 2px solid black;
  transition: 0.3s ease;
}

.email:hover {
  color: rgb(123, 123, 123);
  border-bottom: 2px solid rgb(123, 123, 123);
}

@media screen and (max-width: 1280px) {
  .wrap {
    margin-bottom: 50px;
  }
  .img1,
  .img2,
  .img3 {
    display: none;
  }
}
